footer {
  position: fixed;
  bottom: 0;
  background: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

footer p {
  color: var(--white);
  text-align: center;
  padding-bottom: 8px;
}

footer a {
  text-decoration: none;
}

footer p,
footer a {
  font-weight: 800;
  letter-spacing: 2px;
}